<app-header></app-header>

<h3 class="mb-5 text-uppercase">    Add Reset Quantity </h3>  
                <form #addresetqtyform="ngForm" (ngSubmit)="addResetQty()">
                    <h2>{{errorMsg}}</h2>
                    <div class="form-group">
                 
                
                  <div class="form-outline mb-4">  
                  <input type="number" id="locationNbr" class="form-control form-control-lg" 
                  placeholder="Location Number" [(ngModel)]="resetInventory.locationNbr" name="locationNbr"/>  
                  
                </div>  
                  
                 
                <div class="form-outline mb-4">  
                  <input type="text" id="materialId" class="form-control form-control-lg" 
                  placeholder="Material Name" [(ngModel)]="resetInventory.materialId" name="materialId"/>  
                 
                </div>  
                 
                <div class="form-outline mb-4">  
                  <input type="number" id="resetQty" class="form-control form-control-lg" 
                  placeholder="Reset Quantity" [(ngModel)]="resetInventory.resetQty" name="resetQty"/>  
                  
                </div>  

               

                
                <div> 
                   
                  <button type="reset" value="reset" class="btn btn-danger btn-lg"> Reset all </button>  
                  <button type="button" (click)="addResetQty()" class="btn btn-primary btn-lg ms-2" style="margin-left: 10px"> Add </button>  
                </div>  
                </div>
                </form>

                <app-footer></app-footer>