<app-header-user></app-header-user>
<body>
<h4>Search your Location No</h4>
<div class="center">
<form #searchForm="ngForm">
<input type="number" name="locationNbr" id="locationNbr" required 
[(ngModel)]="inventory.locationNbr"/>

<button type="submit" class="btn btn-success" [disabled]="searchForm.form.invalid"
(click)="searchByLocation(inventory.locationNbr)" >Search</button>

   <br>
    <h5 *ngIf="inventory.id==null">{{msg}}</h5>
    <div *ngIf="inventory.id !=null">
       
    <p>Material Name: {{inventory.materialId}}</p>
    <p>Available Quantity: {{inventory.resetQty - inventory.orderQty}}</p>

    <button  class="btn btn-info"  
    (click)="placeOrderByLocation(inventory.id)">Place Order</button>

</div>
</form>
</div>
</body>

<div class="centered">
    <img src="../../../assets/find.png" alt="Search icon"/>
</div>
<app-footer></app-footer>
    <!-- <div class="card">
        <h3 class="card-header">Search Results</h3>
        <div class="card-body">
            <p class="card-text">
                Material Id: {{inventory.materialId}}
                Available Quantity: {{inventory.availableQuantity}}
            </p>
            <button  class="btn btn-info" *ngIf="inventory.id" 
            (click)="placeOrderByLocation(inventory.id)">Place Order</button>
        </div>
    </div> -->