<app-header-user></app-header-user>

<body>



<!-- <div class="container">

<button class="btn btn-success" type="submit" id="btn" (click)="getInventories()">View Inventory List</button>

</div> -->



 

<div class="container mx-auto py-5">

 

    <br/> <br/> <br/>

    <div class="card-deck">

        <div class="card text-center justify-content-center">

          <br/><br/>

          <div class="container">

          <mat-icon class="w-100 h-100">shopping_cart</mat-icon>

        </div>

          <div class="card-body">

            <br/>

            <button mat-raised-button color="primary" routerLink="/user/view-inventory" class="btn btn-info btn-md btn-col mx-auto btn-raised shadow my-button" role="button" style="color: white;">View Inventory </button>

            <br/> <br/>

           

          </div>

        </div>

        <div class="card text-center justify-content-center">

          <br/><br/>

          <div class="container">

          <mat-icon class="w-100 h-100">search</mat-icon>

        </div>

        <div class="card-body">

          <br/>

            <button mat-raised-button routerLink="/user/orders" class="btn btn-info btn-md btn-col mx-auto btn-raised shadow my-button" role="button" style="color: white;">My Orders </button>

            <br/> <br/>

           

          </div>

        </div>

     

      </div>

</div>



<app-footer></app-footer>



<!-- <h2>  Welcome Admin</h2>

<br>

<button type="submit" class="btn btn-info btn-lg" (click)="logOut()">Log Out</button>  -->