<app-header></app-header>

<br/>
<h3 class="mb-5 text-uppercase text-center">    Add Inventory </h3>  
<div class="container justify-content-center">
  <div class="card mx-auto w-50 d-flex justify-content-center text-center">  
    <br/>
                <form class="justify-content-center align-items-center" #addform="ngForm" (ngSubmit)="add()">
                    <h2>{{errorMsg}}</h2>
                    <div class="form-group">
                 
                <div class="form-outline mb-4">  
                  <input type="number" id="id" class="form-control form-control-md w-50 mx-auto" 
                  placeholder="Id" [(ngModel)]="inventory.id" name="id"/>  
                 
                </div>  
                  <div class="form-outline mb-4">  
                  <input type="number" id="locationNbr" class="form-control form-control-md w-50 mx-auto" 
                  placeholder="Location Number" [(ngModel)]="inventory.locationNbr" name="locationNbr"/>  
                  
                </div>  
                  
                 
                <div class="form-outline mb-4">  
                  <input type="text" id="materialId" class="form-control form-control-md w-50 mx-auto" 
                  placeholder="Material Name" [(ngModel)]="inventory.materialId" name="materialId"/>  
                 
                </div>  
                 
                <div class="form-outline mb-4">  
                  <input type="number" id="resetQty" class="form-control form-control-md w-50 mx-auto" 
                  placeholder="Reset Quantity" [(ngModel)]="inventory.resetQty" name="resetQty"/>  
                  
                </div> 

                <!-- <div class="form-outline mb-4">  
                  <input type="number" id="availableQuantity" class="form-control form-control-lg" 
                  placeholder="Available" [(ngModel)]="inventory.availableQuantity" name="resetQty"/>  
                  
                </div> -->

                
                

              

                
                <div> 
                   
                  <button mat-raised-button type="reset" value="reset" class="btn btn-danger btn-md"> Reset all </button>  &nbsp;
                  <button mat-raised-button type="button" (click)="add()" class="btn btn-info btn-md ms-2" style="margin-left: 10px"> Add </button>  
                </div>  
                </div>
                <br/>
                </form>
                
              </div>
              </div>
                <app-footer></app-footer>