<header>

    <nav class="navbar navbar-expand-md navbar-light bgnav">

       

        <h2 style="margin-left: 20px; margin-top: 6px;"> &nbsp; USER &nbsp; </h2>



       



        <ul class="navbar-nav navbar-collapse justify-content-end">

            <li class="nav-item pr-2"><a routerLink="/user/home" class="nav-link" style="color: white;">Home</a></li>

            <li class="nav-item pr-5"><a routerLink="/login" class="nav-link" style="color: white;">Log Out</a></li>

        </ul>



    </nav>



</header>