<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <!-- <nav class="navbar navbar-dark bg-dark"></nav> -->
        <h2>Welcome Admin</h2>

        <ul class="navbar-nav">
            <li><a routerLink="/admin/add" class="nav-link">Add Inventory</a></li>
            <!-- <li><a routerLink="/admin/update" class="nav-link">Add Reset Quantity</a></li> -->
            <!-- <li (click)="getInventories()" class="nav-link">View inventory</li> -->
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">Log Out</a></li>
        </ul>

    </nav>

</header>
<body>

<!-- <div class="container">
<button class="btn btn-success" type="submit" id="btn" (click)="getInventories()">View Inventory List</button>
</div> -->
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Location No</th>
            <th>Material Name</th>
            <th>Reset Quantity</th>
            <th>Order Quantity<th>
            <th>Available Quantity</th>
            <th>Date-Time</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <!-- <tr> -->
        <tr *ngFor="let inventory of inventories">
            <td>{{inventory.id}}</td>
            <td>{{inventory.locationNbr}}</td>
            <td>{{inventory.materialId}}</td>
            <td>{{inventory.resetQty}}</td>
            <td>{{inventory.orderQty}}</td>
            <td>{{inventory.availableQuantity}}</td>
            <td>{{inventory.updateDateTime}}</td>

            <td>
                <button  class="btn btn-info" (click)="updateInventoryFromRemote(inventory.id)">Update</button>
                <button  class="btn btn-danger" (click)="deleteInventoryFromRemote(inventory.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</body>

<footer class="footer">
    <div class="container">
        <span class="text-muted">All Rights Reserved 2022 @PepsiCo</span>
    </div>
</footer>

<!-- <h2>  Welcome Admin</h2>
<br>
<button type="submit" class="btn btn-info btn-lg" (click)="logOut()">Log Out</button>  -->