<app-header></app-header>

<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">        



<body class="w-100 h-100">

 

<div class="container mx-auto py-5">

 

    <br/> <br/> <br/>

    <div class="card-deck">

        <div class="card text-center justify-content-center">

          <br/><br/>

          <div class="container">

          <mat-icon class="w-100 h-100">shopping_cart</mat-icon>

        </div>

          <div class="card-body">

            <br/>

            <button mat-raised-button color="primary" routerLink="/admin/add" class="btn btn-info btn-md btn-col mx-auto btn-raised shadow my-button" role="button" style="color: white;">Add Inventory </button>

            <br/> <br/>

           

          </div>

        </div>

        <div class="card text-center justify-content-center">

          <br/><br/>

          <div class="container">

          <mat-icon class="w-100 h-100">search</mat-icon>

        </div>

        <div class="card-body">

          <br/>

            <button mat-raised-button routerLink="/admin/inventories" class="btn btn-info btn-md btn-col mx-auto btn-raised shadow my-button" role="button" style="color: white;">View Inventory </button>

            <br/> <br/>

           

          </div>

        </div>

        <div class="card text-center justify-content-center">

          <br/><br/>

          <div class="container">

          <mat-icon class="w-100 h-100">assignment</mat-icon>

        </div>

         <div class="card-body">

          <br/>

            <button mat-raised-button routerLink="/admin/orders" class="btn btn-info btn-md btn-col mx-auto btn-raised shadow my-button" role="button" style="color: white;">View Orders </button>

            <br/> <br/>

          </div>

        </div>

      </div>

</div>



</body>

<app-footer></app-footer>




<!-- <h2>  Welcome Admin</h2>

<br>

<button type="submit" class="btn btn-info btn-lg" (click)="logOut()">Log Out</button>  -->

