<app-header></app-header>
<body>

<!-- <div class="container">
<button class="btn btn-success" type="submit" id="btn" (click)="getInventories()">View Inventory List</button>
</div> -->
<div class="container">
    <br/>
<table class="table table-hover mx-auto">
    <thead>
        <tr class="table-dark">
            <th>Id</th>
            <th>Location No</th>
            <th>Material Name</th>
            <th>Reset Quantity</th>
            <th>Order Quantity</th> 
            <th>Available Quantity</th>
            <th>Date-Time</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <!-- <tr> -->
        <tr *ngFor="let inventory of inventories">
            <td>{{inventory.id}}</td>
            <td>{{inventory.locationNbr}}</td>
            <td>{{inventory.materialId}}</td>
            <td>{{inventory.resetQty}}</td>
            <td>{{inventory.orderQty}}</td>
            <td>{{inventory.resetQty - inventory.orderQty}}</td> 
           
            <td>{{inventory.updateDateTime}}</td>

            <td>
                <button mat-raised-button class="btn btn-info" (click)="updateInventoryFromRemote(inventory.id)">Update</button> &nbsp;
                <button mat-raised-button class="btn btn-danger" (click)="deleteInventoryFromRemote(inventory.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</body>

<app-footer></app-footer>

<!-- <h2>  Welcome Admin</h2>
<br>
<button type="submit" class="btn btn-info btn-lg" (click)="logOut()">Log Out</button>  -->